@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,300;0,600;1,700 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    background: rgb(0,230,246);
background: linear-gradient(343deg, rgba(0,230,246,1) 0%, rgba(31,108,171,1) 65%, rgba(8,42,58,1) 100%, rgba(255,255,255,1) 100%);
    font-family: "Poppins" , sans-serif;
}

.container{   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}



                      
input{
    height: 45px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

label{
  display: flex;
  padding: 1px;
 }

 h1{
    display: flex;
    justify-content: center;
 }
 
input[type="submit"]{
    background-color: #17214d;
    color: white;
    margin: 20px;
    cursor: pointer;
 }

.form{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    gap: 8px;
    box-shadow: -1px 0px 10px 12px rgba(0,0,0,0.55);
    border-radius: 8px;
    width: 55vh;
}

.h1-login{
    display: flex;
    justify-content: center;
    }